:root {
    --primary-color: white;
    --secondary-color: cyan;
    font-size: 24pt;
}

body {
    display: flex;
    justify-content: center;
}

.card {
    min-width: 640px;
    min-height: 320px;
    border: 4px var(--secondary-color) solid;
    border-radius: 64px;
    padding: 48px;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.field {
    grid-column: 1/3;
}

.unit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column-start: 3;
}

button {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: var(--primary-color);
    /* max-width: 128px; */
    border-radius: 4px;
}

input {
    border: 2px var(--secondary-color) solid;
}

.unit-bt {
    min-width: 16px;
    min-height: 16px;
    max-height: 16px;
    border: 2px black solid;
    border-radius: 8px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 2fr;
    gap: 8px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:inherit 8px;
}

.gif {
    background-color: yellow;
}

